.scroll-fix{
  position: fixed;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.showUnderDev{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showUnderDev img{
  height: 500px;
  width: 425px;
}
